.cpp.class {
  background: #f8f8f8;
 /* border-style: solid; */
}

.cpp.function {
  background: #f8f8f8;
 /* border-style: solid; */
}

[data-theme='dark'] .cpp.class {
    background: #283747;
}

[data-theme='dark'] .cpp.function {
    background: #283747;
}


[data-theme='dark'] .mermaid {
    background: #283747;
}
