.cpp.class {
  background: #f8f8f8;
 /* border-style: solid; */
}

.cpp.function {
  background: #f8f8f8;
 /* border-style: solid; */
}

[data-theme='dark'] .cpp.class {
    background: #283747;
}

[data-theme='dark'] .cpp.function {
    background: #283747;
}

div.mermaid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

div.mermaid svg {
    width: 100%;
    height: auto;
}

[data-theme='dark'] .mermaid {
    background: #283747;
}
