name: Build documentation

env:
  PR_NUMBER: ${{ github.event.number }}

on:
 pull_request:
    types: [closed, synchronize, opened]
 push:
    tags:
       - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Requirements
      run: sudo apt install doxygen python3-sphinx texlive-font-utils
        && pip3 install furo
        && pip3 install breathe
        && pip3 install sphinx-sitemap
        && pip3 install sphinxcontrib-mermaid
    - name: Checkout repo
      uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        cache: 'pip'
    - run: pip install -r doc/requirements.txt

    - name: Build docs
      run: |
        sphinx-build -b html ./doc ./docs_build/
        cp -r doc/_build/ docs_build/doxygen
        cd docs_build
        ls doxygen
        touch .nojekyll
    - name: Deploy PR Build
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: docs_build
        target-folder: Build_PR_${{ env.PR_NUMBER }}
    - name: Deploy Versioned Build
      if: ${{ github.ref_type == 'tag'}}
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: docs_build
        target-folder: ${{ github.ref_name }}
    - name: Deploy Latest Build
      if: ${{ github.event.pull_request.merged }}
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: docs_build
        target-folder: latest

    - name: Find Comment
      uses: peter-evans/find-comment@v1
      id: fc
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'github-actions[bot]'

    - name: Comment PR
      uses: thollander/actions-comment-pull-request@v2
      if: steps.fc.outputs.comment-id == ''
      with:
        message: |
          Thank you for your PR, here are some useful tips:
          - Use labels to change the workflow behavior. Set `auto-fix` to automatically apply fixes, `full-ci` for a comprehensive set of tests and sanitizer runs, `ready-for-review` to show that you're done and need a review.
          - I deployed a test documentation to https://exasim-project.com/NeoFOAM/Build_PR_${{ env.PR_NUMBER }}
          - If this is your first PR, please add yourself to the AUTHORS.md file
        comment_tag: build_url
        mode: createIfNotExists

    - name: Echo Build PR URL
      run: |
        echo "Deploy to: https://exasim-project.com/NeoFOAM/Build_PR_${{ env.PR_NUMBER }}"
